.pages {
    font-family: 'Bona Nova', serif;
    color: black;
    font-size: 20px;
    margin-bottom: 92px;
}

.contact_name {
    font-family: 'Open Sans', sans-serif;
}

.page_name {
    font-family: 'Montserrat', sans-serif;
}

.text_list {
    font-family: 'Open Sans', sans-serif;
    width: 380px;
    margin-left: 160px;
    position: relative;
    bottom: 50px;
}

.text_name {
    font-family: 'Montserrat', sans-serif;
    color: #C29974;
    font-size: 26px;
}

.name_text,
.phone_text,
.email_text,
.message_text {
    margin-bottom: 3px;
}

.contact_flex {
    display: flex;
    margin-top: 92px;
    margin-left: 40px;
}

.phone_add_email {
    display: flex;
    justify-content: space-between;
}

.phone_add_email_text {
    max-width: 356px;
    display: flex;
    justify-content: space-between;
}

.name_input,
.input_line_email,
.input_line,
.message_input {
    border-color: #000;
}

.name_input {
    padding-top: 14px;
    padding-bottom: 11px;
    border-radius: 0%;
    width: 600px;
}

.input_line_email{
    top: 464px;
    left: 643px;
    width: 290px;
    padding-top: 14px;
    padding-bottom: 11px;
    border-radius: 0%;
}

.input_line {
    width: 290px;
    padding-top: 14px;
    padding-bottom: 11px;
    border-radius: 0%;
}

.contact_button {
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 22px;
    padding-left: 22px;
    font-family: 'Montserrat', sans-serif;
    background: black;
    color: white;
    margin-bottom: 111px;
    border: #000;
}

.message_input {
    padding-top: 14px;
    padding-bottom: 136px;
    border-radius: 0%;
    width: 600px;
}

.checkbox_message {
    display: none;
}

.checkbox_label::before {
    content: '';
    position: absolute;
    display: block;
    height: 19px;
    width: 19px;
    border: 2px solid #C29974;
    background-color: transparent;
    border-radius: 20%;
    top: 786px;
    left: 377px;
}

.checkbox_text::after {
    position: absolute;
    content: url('/static/button6.png');
    display: block;
    height: 19px;
    width: 19px;
    top: 790px;
    left: 380px;
    opacity: 0;
}

.contact_flex::after {
    content: '';
    position: absolute;
    display: block;
    width: 680px;
    height: 542px;
    left: 340px;
    top: 340px;    
    background: #E5EAF8;
    z-index: -1;
}

.checkbox_text {
    padding-top: 22px;
}

.checkbox_text {
    cursor: pointer;
    margin-left: 32px;
}

.checkbox_message:checked + .checkbox_text::after {
    opacity: 1;
}