* {
    list-style-type: none;
    text-decoration: none;
    padding-inline-start: 0px;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}

a {
    color: white;
}

.technical_references {
    display: flex;
    padding-top: 20px;
    color: black;
}

.catalog_header {
    margin-right: 20px;
}

.loupe {
    max-width: 18px;
    max-height: 18px;
    margin-top: 20px;
    margin-left: 640px;
    margin-right: 24px;
    background: white;
}

.contact {
    font-family: 'Open Sans', sans-serif;
}

input[type=tel]:hover,
input[type=email]:hover,
input[type=text]:hover,
input[type=tel]:active,
input[type=email]:active,
input[type=text]:active {
    border-color: #C29974;
}

button:hover,
button:focus {
    background: #C29974;
    border: #C29974;
}

button:active {
    background: #CFAF91;
    border-color: #CFAF91;
}

.technical_element {
    font-family: 'Open Sans', sans-serif;
}

.technical_element:hover {
    opacity: 0.6;
}

.technical_element:active {
    opacity: 0.4;
}