/* основные части сайта */

a {
    text-decoration: none;
}

.technical_references {
    display: flex;
    list-style-type: none;
 }

.technical_references .element {
    margin: 10px;
}



header {
    margin: 110px;
}

main {
    margin: 110px;
}

footer 
{background:#434343;
}



.footer_color {
    list-style-type: none;
    color: white;
}