.catalog_list {
    cursor: pointer;
    width: 380px;
}

.toys_button_vector_1 {
    position: absolute;
    top: 1540px;
}

.toys_button_vector_2 {
    position: absolute;
    top: 1540px;
    left: 1500px;
}

.toys_button:hover {
    opacity: 0.6;
}

.toys_button {
    margin-top: 78px;
    font-family: 'Montserrat', sans-serif;
    color: black;
    margin-bottom: 63px;
}

.toys_button_alt {
    margin-top: 78px;
    color: #C29974;
    font-family: 'Montserrat', sans-serif;
}

.catalog_1 {
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding-inline-start: 0px;
    flex-wrap: wrap;
}

.toys_head {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
}

.toys_list {
    font-family: 'Bona Nova', serif;
    color: black;
    font-size: 20px;
}

.technical::after {
    content: '';
    display: block;
    position: absolute;
    top: 360px;
    left: 0px;
    width: 1850px;
    min-height: 254px;
    background: #E1F0F7;
    z-index: -1;
}

.techncal_button {
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 22px;
    padding-left: 22px;
    font-family: 'Montserrat', sans-serif;
    background: black;
    color: white;
    margin-top: 24px;
    border: #000;
}

.blog_footer {
    position: relative;
    display: flex;
    padding-left: 473px;
    padding-right: 473px;
    justify-content: space-between;
}

.catalog_name {
    color: black;
    font-family: 'Open Sans', sans-serif
}

.catalog_price {
    font-family: 'Open Sans', sans-serif;
    color: black;
}

.color_checkbox,
.delivery_radio,
.amount_radio {
    display: none;
}

.Color_text,
.delivery_text,
.amount_text {
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
}

.Color_list {
    position: relative;
    right: 63px;
    top: 15px;
}

.delivery_list {
    position: relative;
    right: 85px;
    top: 15px;
}



.delivery_text {
    position: relative;
}

.color_label:hover {
    text-decoration: underline;
}

.color_label::before {
    content: '';
    position: absolute;
    display: block;
    height: 19px;
    width: 19px;
    border: 2px solid #C29974;
    background: transparent;
    border-radius: 20%;
    left: 0px;
    left: -40px;
}

.Color_text::before {
    content: url('/static/button6.png');
    position: absolute;
    display: block;
    background: white;
    height: 19px;
    width: 19px;
    border-radius: 20%;
    left: -38px;
    opacity: 0;
}

.delivery_label:hover {
    text-decoration: underline;
}

.delivery_label::before {
    content: '';
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    border: 2px solid #C29974;
    left: -40px;
    border-radius: 50%;
}

.delivery_text::before {
    content: '';
    position: absolute;
    display: block;
    height: 12px;
    width: 12px;
    background: #C29974;
    border-radius: 50%;
    left: -34px;
    top: 6px;
    opacity: 0;
}



.list_name {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    right: 25px;
}

.settings {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 102px;
    margin-top: 92px;
    align-items: flex-start;
}

.cost_range {
    position: relative;
    top: 45px;
    right: 70px;
    height: 24px;
    width: 188px;
}

.range_number_0 {
    position: relative;
    top: 70px;
    right: 300px;
}

.range_number_500 {
    position: relative;
    top: 70px;
    right: 185px;
}

.color_checkbox:checked + .Color_text::before {
    opacity: 1;
}

.Color_text {
    position: relative;
    top: 2px;
}

.delivery_radio:checked + .delivery_text::before {
    opacity: 1;
}

.amount_list {
    right: 25px;
    bottom: 15px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.amount_text {
    background: white;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 19px;
    padding-right: 19px;
}

.amount_text_alt {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 28px;
    padding-right: 28px;
}

.amount_text:hover, .amount_text_0-5:hover {
    background: #F3D0DB;
    opacity: 0.6;
}

.amount_radio:checked + .amount_text, .amount_text_0-5 {
    background: #F3D0DB;
}

.catalog_list {
    position: relative;
}