.footer_element_information {
    position: absolute;
    bottom: -1132px;
    left: 700px;
}

.footer_element_connect {
    position: absolute;
    bottom: -1017px;
    left: 1220px;
}

.toys_button_vector_1 {
    position: absolute;
}

.toys_button_vector_2 {
    position: absolute;
    top: 1505px;
    left: 1500px;
}

.toys_button:hover {
    opacity: 0.6;
}

.toys_button {
    margin-top: 78px;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

.toys_button_alt {
    margin-top: 78px;
    color: #C29974;
    font-family: 'Montserrat', sans-serif;
}

.catalog_1 {
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding-inline-start: 0px;
}

.catalog_2 {
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding-inline-start: 0px;
}

.toys_head {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
}

.toys_list {
    font-family: 'Bona Nova', serif;
    color: black;
    font-size: 20px;
}

.technical::after {
    content: '';
    display: block;
    position: absolute;
    top: 350px;
    left: 250px;
    width:1400px;
    min-height: 254px;
    background: #E1F0F7;
    z-index: -1;
    opacity: 20% ;
}

.techncal_button {
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 22px;
    padding-left: 22px;
    font-family: 'Montserrat', sans-serif;
    background: black;
    color: white;
    margin-top: 24px;
    border: #000;
}

.blog_footer {
    position: relative;
    display: flex;
    padding-left: 473px;
    padding-right: 473px;
    justify-content: space-between;
}

.catalog_name {
    color: black;
    font-family: 'Open Sans', sans-serif
}

.catalog_price {
    font-family: 'Open Sans', sans-serif;
    color: black;
}

.color_checkbox,
.delivery_radio,
.amount_radio {
    display: none;
}

.Color_text,
.delivery_text,
.amount_text {
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
}

.Color_list {
    position: relative;
    right: 200px;
    top: 15px;
}

.delivery_list {
    position: relative;
    right: 225px;
    top: 15px;
}

.delivery_text {
    position: relative;
}

.color_label:hover {
    text-decoration: underline;
}

.color_label::before {
    content: '';
    position: absolute;
    display: block;
    height: 19px;
    width: 19px;
    border: 2px solid #C29974;
    background: transparent;
    border-radius: 20%;
    left: 0px;
}

.Color_text::before {
    content: url('/static/button6.png');
    position: absolute;
    display: block;
    background: white;
    height: 19px;
    width: 19px;
    border-radius: 20%;
    left: -38px;
    opacity: 0;
}

.delivery_label:hover {
    text-decoration: underline;
}

.delivery_label::before {
    content: '';
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    border: 2px solid #C29974;
    left: 0px;
    border-radius: 50%;
}

.delivery_text::before {
    content: '';
    position: absolute;
    display: block;
    height: 12px;
    width: 12px;
    background: #C29974;
    border-radius: 50%;
    left: -34px;
    top: 6px;
    opacity: 0;
}

.list_name {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    right: 125px;
}

.settings {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 102px;
    margin-top: 92px;
    align-items: flex-start;
}

.cost_range {
    position: relative;
    top: 60px;
    left: -72px;
    height: 24px;
    width: 188px;
}

.range_number_0 {
    position: relative;
    top: 70px;
    left: -300px;
}

.range_number_500 {
    position: relative;
    top: 70px;
    left: -185px;
}

.color_checkbox:checked + .Color_text::before {
    opacity: 1;
}

.Color_text {
    position: relative;
    top: 2px;
}

.delivery_radio:checked + .delivery_text::before {
    opacity: 1;
}

.amount_list {
    display: flex;
    justify-content: space-between
}